Config(
  width: 600,
  position: Center,
  vertical_offset: -250,
  hide_icons: true,
  ignore_exclusive_zones: true,
  layer: Overlay,
  hide_plugin_info: true,
  plugins: [
    "libapplications.so",
    "libshell.so",
    "librink.so",
  ],
)
