* {
  transition: none;
}

#window {
  background-color: transparent;
  font-size: 20px;
}

box#main {
  margin-top: 400px;
}

entry {
  background: rgba(31, 31, 40, 0.95);
  color: #dcd7ba;
  border-radius: 0;
  caret-color: #dcd7ba;
  padding: 10px 8px;
}

entry:focus,
entry:hover,
entry:active {
  outline: none;
  outline-width: 0px;
  box-shadow: none;
  border-bottom: none;
  border: none;
}

list#main {
  background: rgba(31, 31, 40, 0.9);
}

list#main > :first-child {
  margin-left: 4px;
}

image,
image#plugin {
  opacity: 1;
}

#plugin {
  background-color: transparent;
  color: #dcd7ba;
}

label#plugin {
  opacity: 0.25;
}

#match {
  border-right: 4px solid transparent;
  padding: 5px 0;
}

#match:selected {
  background: transparent;
  border-right: 4px solid #7e9cd8;
  color: #7e9cd8;
}
