#window {
  background-color: transparent;
}

entry:focus {
  outline: none;
  outline-width: 0px;
  border: none;
}

entry {
  margin-top: 400px;
  background: #1f1f28;
  color: #dcd7ba;
  border-radius: 0;
  outline: none;
  outline-width: 0px;
  border: none;
}

#main {
  color: #dcd7ba;
}

#plugin {
  background: #1f1f28;
  color: #dcd7ba;
}

#match:selected {
  background: #76946a;
}
