* {
  transition: none;
}

#window {
  background-color: transparent;
  font-size: 20px;
}

image#plugin {
  opacity: 0;
}

entry {
  margin-top: 400px;
  background: #16161d;
  color: #dcd7ba;
  border-radius: 0;
  caret-color: #dcd7ba;
}

entry:focus {
  outline: none;
  outline-width: 0px;
  box-shadow: none;
  border: 2px solid #16161d;
  border-bottom: none;
}

list#main {
  border: 2px solid #16161d;
  border-top: none;
  background: rgba(31, 31, 40, 0.98);
}

#plugin {
  background-color: transparent;
  color: #dcd7ba;
}

label#plugin {
  opacity: 0.3;
}

#match {
  border-right: 4px solid transparent;
}

#match:selected {
  background: transparent;
  border-right: 4px solid #7e9cd8;
  color: #7e9cd8;
}
